html{
    background-color: #E3E3E3;
}

h1{
    text-align: center;
    color: #1B3C53;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.box {
  background: #456882;
  padding: 40px;
  flex: 1 1 200px;
  text-align: center;
  color: #E3E3E3;
  border-radius: 20px;
}
