html{
    background-color: #E3E3E3;
}

h1{
    text-align: center;
    color: #1B3C53;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}
